{% extends 'base.html' %}
{% load static %}
{% block title %}{{ album.title }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5 w-50" data-bs-theme="dark">
  <div class="user_detail justify-content-center d-flex">
    <div>
      <div class="d-flex">
        <div class="image_detail mt-5 mb-5">
          <img class="user_detail_image song_image" src="{{ album.image.url }}" alt="user_img">
        </div>
        <div class='user_detail_info ms-5 w-50 mt-5 mb-5'>
          <div class="d-flex">
            <h1 class="flex-grow-1 me-5">{{ album.title }}</h1>
            <p class="text-danger">{{ album.date|date:"d.m.Y" }}</p>
          </div>
          <a class="text-decoration-none" href="{{ album.artist.get_absolute_url }}">
          <h5 class="flex-grow-1 text-muted mt-2">{{ album.artist }}</h5>
          </a>
          <hr class="text-danger">
          <p class="page_description text-secondary lh-base text-break">
            {{ album.description|striptags|truncatechars:300 }}
            {% if album.description|length >= 301 %}
            <a class="link-danger text-decoration-none" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal-show-description">
            Read Full
            </a>
            {% endif %}
          </p>
          {% if request.user.pk == album.artist.pk %}
          <a href="{% url 'player:update_album' album.slug_artist album.slug_album %}" class="btn btn-outline-danger">Edit</a>
          {% endif %}
          {% if album.description|length >= 301 %}
          <!-- Modal Show Description -->
          <div class="modal fade" id="modal-show-description" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true" data-bs-theme="dark">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger" id="ClearCartModalLabel">Description</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-light text-break">{{ album.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- ############ -->
          {% endif %}
        </div>
      </div>
      <div class="list-group mb-5 list-group-numbered" style="box-shadow: none;">
        {% for song in album.songs.all %}
        <div class="list-group-item d-flex align-items-md-center">
          <div class="d-flex align-middle ms-4 me-auto">
            <img id="image{{ song.pk }}" src="{{ song.image.url }}" width="60" height="60" class="me-3 song_image" alt="song_image">
            <div>
              <a class="text-decoration-none" href="{{ song.get_absolute_url }}">
                <h5 id="title{{ song.pk }}" class="mb-1 mt-1 text-light">{{ song.title }}</h5>
              </a>
              <h6 id="artist{{ song.pk }}" class="text-muted">{{ album.user.username }}</h6>
              <audio id="{{ song.pk }}" style="width: 100%;">
                <source src="{% if song.audio_link %}{{ song.audio_link }}{% else %}{{ song.audio_file.url }}{% endif %}" type="audio/mp3">
              </audio>
            </div>
          </div>
          <h5><a href='#' id="playButton{{ song.pk }}" class='link link-danger' onclick="playPauseAudio('{{ song.pk }}', this)"><i class="fa-solid fa-play"></i></a></h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include 'bottom_audio.html' %}
</div>
{% endblock %}