<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | GROOVE </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Labrada&family=Neucha&family=Roboto:wght@500&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top bg_gradient_red" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">GROOVE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-5">
              <a class="nav-link nav-link-fade-up nav_link_base {% if request.path == '/u/' %} nav-link-active active {% endif %}" href="{% url 'users:users' %}">Artists</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link nav-link-fade-up nav_link_base {% if request.path == '/player/songs/' %} nav-link-active active {% endif %}" href="{% url 'player:songs' %}">Songs</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link nav-link-fade-up nav_link_base {% if request.path == '/player/albums/' %} nav-link-active active {% endif %}" href="{% url 'player:albums' %}">Albums</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-2">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a href='#' class="btn btn-outline-danger me-4" data-bs-toggle="modal" data-bs-target="#modal-upload">
                Upload
              </a>
              <a class="nav-link nav_link_base" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown">
              {% if request.user.image %}
              <img src="{{ request.user.image.url }}" width="28" height="28" class="user_image" alt="user_image">
              {% else %}
              <i class="fa-solid fa-user"></i>
              {% endif %}
              </a>
              <ul class="dropdown-menu site-menu">
                <li class="ms-4">
                  <a class="nav-link nav_link_base {% if request.path == '/u/'|add:user.slug|add:'/' %} text-danger {% endif %}" href="{{ request.user.get_absolute_url }}" aria-current="page" type='submit'>Profile</a>
                </li>
                <li class="ms-4">
                  <a class="nav-link nav_link_base {% if request.path == '/player/saved-songs/' %} text-danger {% endif %}" href="{% url 'player:saved_songs' %}" aria-current="page" type='submit'>Saved</a>
                </li>
                <li class="ms-4">
                  <a class="nav-link nav_link_base {% if request.path == '/u/'|add:user.slug|add:'/songs/' or request.path == '/u/'|add:user.slug|add:'/albums/' %} text-danger {% endif %}" href="{% url 'users:user_songs' request.user.slug %}" aria-current="page" type='submit'>Uploaded</a>
                </li>
                <li class="ms-4">
                  <a class="nav-link nav_link_base {% if request.path == '/player/playlists/' %} text-danger {% endif %}" href="{% url 'player:playlists' %}" aria-current="page" type='submit'>Playlists</a>
                </li>
                <li>
                  <hr>
                </li>
                <li class="ms-4">
                  <a class="nav-link nav_link_base" href="{% url 'users:logout' %}" aria-current="page" type='submit'><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link nav_link_base {% if request.path == '/u/login/' or request.path == '/u/register/' %} text-danger {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown">
              <i class="fa-regular fa-user"></i>
              </a>
              <ul class="dropdown-menu site-menu">
                <li class="ms-4">
                  <a class="nav-link nav_link_base nav-link-grow-up {% if request.path == '/u/login/' %} text-danger {% endif %}" href="{% url 'users:login' %}" aria-current="page" type='submit'>Log In</a>
                </li>
                <li class="ms-4">
                  <a class="nav-link nav_link_base nav-link-grow-up {% if request.path == '/u/register/' %} text-danger {% endif %}" href="{% url 'users:register' %}" aria-current="page" type='submit'>Sign Up</a>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if request.user.is_authenticated %}
    <!-- Modal Upload -->
    <div class="modal fade" id="modal-upload" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true" data-bs-theme="dark">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="ClearCartModalLabel">Upload</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <a href="{% url 'player:create_song' %}" class="btn btn-outline-danger me-2">Song</a>
            <a href="{% url 'player:create_album' %}" class="btn btn-outline-danger me-2">Album</a>
            <a href="{% url 'player:create_playlist' %}" class="btn btn-outline-danger">Playlist</a>
          </div>
        </div>
      </div>
    </div>
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    {% endif %}
    {% block content %}
    {% endblock %}
    <!-- MESSAGES -->
    {% if messages %}
    {% for message in messages %}
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast show me-4 mb-4" data-bs-autohide="true" style="position: fixed; bottom: 0; right: 0;" data-bs-theme="dark">
      <div class="toast-header">
        <i class="fa-solid fa-circle {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} text-danger {% else %} text-success {% endif %} me-2"></i>
        <strong class="me-auto">{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error {% else %} Success {% endif %}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body text-light">
        {{ message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://kit.fontawesome.com/40bf0cc06c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>